a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.bounce-top {
  display: block;
  animation: bounce-top 3s infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 81px;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: #999;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 95%;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  z-index: 5;
  width: 100%;
  transition: 0.6s;
}
nav .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
nav .navbar-brand span {
  color: #1d3fa5;
}
nav .navbar-nav a {
  text-transform: uppercase;
  color: #ffffff;
}
nav .nav-link:hover {
  color: #4169e1;
}
nav .navbar-toggler {
  border: none;
}
nav .fa-bars {
  padding: 12px;
  font-size: 2.2rem;
  color: #4169e1;
}
nav .fa-headset {
  margin-right: 10px;
}

.active {
  color: red;
}

header .fa-chevron-down {
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 30px;
  cursor: pointer;
}
header .btn-outline-light {
  text-transform: uppercase;
  padding: 10px 20px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/playstation-gefa8f3af7_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
@media (min-width: 992px) {
  header .hero-img {
    background-image: url("../img/playstation-g93c97f876_1920.jpg");
  }
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
header .hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 15px;
}
header .hero-text h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 20px;
}
header .hero-text h1 span {
  color: #1d3fa5;
}
header .hero-text p {
  color: #ffffff;
}

@media (min-width: 576px) {
  header .hero-img h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  nav {
    height: 72.25px;
  }
}
section h2 {
  text-transform: uppercase;
  text-align: center;
}

.text-center {
  transition: 0.7s;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: #4169e1;
  margin: 0 auto 40px;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}

.aboutus-hero {
  position: relative;
  background-image: url("../img/mountain-landscape-g885efc4bd_1920.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  z-index: -5;
}

.aboutus-hero-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}

.carousel-item {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}
.carousel-item .carousel-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  padding: 20px 0;
}

.price-box {
  background-color: #fff;
  box-shadow: 3px 3px 10px;
  margin-bottom: 20px;
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
}
.price-box span {
  font-weight: bold;
}
.price-box button {
  padding: 10px 20px;
}

.price-box:hover {
  scale: 1.1;
}

.price-wrap {
  background-color: aqua;
  width: 100%;
}

.text-body-secondary {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.card-group {
  gap: 5px;
}

.card-img-top {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.team {
  position: relative;
  background-image: url("../img/office-space-gcf523e9cb_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -22;
}
.team .card:hover {
  scale: 0.95;
}
.team h2 {
  color: #fff;
  z-index: 10;
}
.team .card {
  transition: 0.4s;
}

.team-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -10;
}

.contact {
  position: relative;
  background-image: url("../img/city-g1ed94bf93_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  z-index: 10;
}
.contact .contact-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -6;
}
.contact .contact-item {
  margin: 40px 10px;
  border: solid 1px white;
  border-radius: 15px;
  padding: 20px 0px;
  width: 30%;
}/*# sourceMappingURL=style.css.map */