@import './colors';
@import './reset';




*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	// background-color: #333;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	min-height: 100vh;
}
.wrapper {
    margin: 0 auto;
	max-width: 1400px;
	width: 95%;
}


.hero-shadow{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -5;
}
nav{
	.fa-camera{
		color: $orange-color;
		margin-right: 10px;
	}
	.navbar-brand{
		font-size: 2.2rem;
		font-weight: bold;
	}
	.nav-link{
		text-transform: uppercase;
	}
	.navbar-toggler-icon{
		font-size: 2.2rem;
	}
	.navbar-toggler{
		padding: 10px 20px;
	}
	
	
}
.home{
	position: relative;
	height: 60rem;
	background-image: url('../img/city-g1ed94bf93_1920.jpg');
	background-size: cover;
	z-index: 0;
	.btn{
		padding: 10px 20px;
		text-transform: uppercase;
		font-size: 1.4rem;
	}
	.welcome-text{
		font-size: 2.2rem;
	}

	
}
.aboutus{
	.aboutus-box{
		h3{font-size: 2.4rem;
			text-transform: uppercase;
			font-weight: bold;

		}
		i{
			font-size: 4rem;
			margin: 15px;
		}
	}
	.accordion-button{
		padding: 1em;
		font-size: 1.8rem;
	}
	.marker{
		color: $orange-color;
	}
}
.team{
	background-color: rgb(248, 248, 248);
	.marker{
		color: $orange-color;
	}
	.card-img-top{
		height: 300px;
		object-fit: cover;
		object-position: center;

	}
	.card-title{
		font-size: 2.2rem;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.accordion-button:not(.collapsed){
	background-color: rgb(248, 248, 248);
	color: $orange-color;
	box-shadow:0px 0px 3px rgba(134, 87, 16, 0.8);
}
.contact{
	.submit-form{
		// margin-top: 15px;
		font-size: 2rem;
	}
	i{
		color: $orange-color;
	}
}
[section]{
	scroll-margin-top: 85px;
}
@media (min-width:992px){
	[section]{
		scroll-margin-top: 69.25px;
	}
}